* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 20px;
}

.logo {
    flex: 1;
}

.logo img {
    display: block;
    width: 70px;
    height: auto;
}

.nav {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav i {
    margin-right: 5px;
}
.nav a:hover {
    color: #f08080;
}
.nav a {
    text-decoration: none;
    color: #777;
    font-size: 12px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #f08080;
}

.social {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social a {
    color: #777;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social a:hover {
    color: #f08080;
}

/* BANNER */

.banner {
    margin-top: 30px;
    padding: 50px;
    background-color: orange;
}


/* PARTE PRINCIPAL */

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    margin-top: 30px;
}


/* ARTICLES */

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    background-color: #555;
}

article {
    min-height: 80px;
    padding: 30px;
    background-color: #3498db;
}


/* NAVEGACIÓN */

.navegacion {
    grid-column: 1 / 3;
    padding: 30px;
    background-color: #8ecae6;
}


/* PUBLICIDADE */

aside {
    padding: 30px;
    background-color: #f03;
}

aside div {
    padding: 20px;
    margin-bottom: 15px;
    background-color: yellow;
}


/* FOOTER */

footer {
    margin-top: 30px;
    padding: 40px;
    background-color: #eee;
}

/* Tablet Model*/

@media (max-width: 768px) {

    main {
        grid-template-columns: 1fr;
    }

    aside {
        margin-top: 30px;
    }
}

    /* Mobile Model */

@media (max-width: 480px) {

    header {
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr;
    }

    .conteudo {
        grid-template-columns: 1fr;
    }

    .navegacion {
        grid-column: 1;
    }

}